<form action="/join" method="POST">
  <h2>Become a Member to send a message!</h2>
  <div class="input-wrapper">
    <label for="passcode">Enter Passcode:</label>
    <input type="text" name="passcode" required />
  </div>
  <button type="submit">Activate Membership</button>
</form>
