<form action="/new-message" method="POST">
  <div class="input-wrapper">
    <label for="message">Enter Your Message:</label>
    <textarea name="message" rows="5" cols="30" required></textarea>
  </div>
  <button type="submit">Send</button>
</form>
